h1{
    color: green;
}

p{
    font-size: 100px;
}

body{
    background-color: #2A2F4F;
}

.top-panel{
    background-color: #917FB3;
}

.mid-panel{
    background-color: #F9D949;
    padding: 20px;
}

.bottom-panel{
    background-color: #F45050;
}
